*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: rgb(92, 92, 92);
  position: relative;
  font-family: "Noto Serif", serif;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% | 1rem = 10px
  -webkit-text-size-adjust: none;
}

.criminals {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.2rem;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
